@import "tailwindcss";

@theme {
  --color-dark-gray: #333333;
  --color-brand-blue: #007bff;

  --font-sans: var(--font-poppins), ui-sans-serif, system-ui, sans-serif;
}

@theme {
  /* Menambahkan warna custom sesuai keinginanmu */
  --color-dark-gray: #333333;
  --color-brand-blue: #007bff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: poppins;
}
